<launch>

  <arg name="video_namespace" default="/"/>
  <arg name="video_image_topic" default="image_raw"/>
  <arg name="video_info_topic" default="camera_info"/>
  <arg name="board_config" default="$(find imu_inertial_nav)/config/4_marker_2_ft_square.yml" />

  <node pkg="ar_sys" type="single_board" name="aruco" output="screen">
    <rosparam file="$(find imu_inertial_nav)/config/aruco.yaml"/>
    <remap from="/camera_info" to="$(arg video_namespace)/$(arg video_info_topic)" />
    <remap from="/image" to="$(arg video_namespace)/$(arg video_image_topic)" />
    <param name="board_config" type="string" value="$(arg board_config)"/>
  </node>

</launch>
